* {
    font-family: myFont2;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
body, html{
    width: 100%;
    margin: 0 auto;
}

#top, #left {
    position: fixed;
    -webkit-box-shadow: 5px 5px 30px grey;
            box-shadow: 5px 5px 30px grey;
}

#right {
    position: fixed;
    float: right;
   /* box-shadow: -5px 0px 30px black;*/
    right: 0px;
}

#left, #right {
    top: 30px;
    bottom: 0px;
    opacity: 0.95;
    height: auto;
    width: 2%;
    z-index: 4;
    background-image: -webkit-gradient(linear, left top, left bottom, from(gray), to(#0b0b0b));
    background-image: linear-gradient(gray, #0b0b0b);
}

#left {
    left: 0;
}

#top {
    top: 0;
    left: 0;
    margin: 0 auto;
    padding:0;
    height: 30px;
    width: 100%;
    max-width: 100%;
    background-color: grey;
    opacity: 0.95;
    z-index: 5;
}

#top ul {
    float: left;
    list-style-type: none;
    margin: 0;
    margin-left: 2%;
    padding: 0;
}

#top ul li {
    float: left;
    margin-left: 3px;
    width: 120px;
    overflow: hidden;

}
#top ul li:first-child{
    width:50px;
    visibility: hidden;
}

#top ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 3px;
    text-decoration: none;
    border: 1px solid white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: myFont2;
    
}

#top ul li a:hover {
    
    color: black;
    -webkit-animation-name: menu;
            animation-name: menu;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    background-color: grey;
}

@-webkit-keyframes menu {
    from {
        background-color: white;
        -webkit-transform: scale(1,1);
                transform: scale(1,1);
    }
    to {
        background-color: grey;
        -webkit-transform: scale(1.2,1.1);
                transform: scale(1.2,1.1);
    }
}

@keyframes menu {
    from {
        background-color: white;
        -webkit-transform: scale(1,1);
                transform: scale(1,1);
    }
    to {
        background-color: grey;
        -webkit-transform: scale(1.2,1.1);
                transform: scale(1.2,1.1);
    }
}

@font-face {
    /*font style*/
    font-family: myFont;
    src: url("../font/Calligraffiti.ttf");
    font-weight: bold;
}
@font-face {
    /*font style*/
    font-family: myFont2;
    src: url("../font/ConcertOne-Regular.ttf");
    font-weight: bold;
}


#footer {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    z-index: 5;
    bottom: 0;
    min-height: 60px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    left: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0b0b0b), to(black));
    background-image: linear-gradient(#0b0b0b, black);
    opacity: 0.95;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

#one{
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
}
#footer_left{
    padding: 0;
}

 #footer_left li {
    display: inline !important;
    list-style-type: none;
    margin: 0 auto;
    color: white;
}

#footer_left li a {
    color: white;
}

#footer_left li:not(:first-child)::before {
    content: " | ";
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: lightgrey;
}

#footer #footer_right {
    display: inline;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-item-align: auto;
        align-self: auto;
    text-align: center;
}

#followUs {
    display: inline;

    font-family: myFont;
    font-size: 30px;
    color: white;
    text-align: center;
    margin-left: 10%;
   
    -webkit-transform: rotate(-45deg);
   
            transform: rotate(-45deg);
}

.logo {
    width: 25px;
    height: 25px;
    margin-left: 1px;
    margin-right: 1px;
    
}
.logo:hover{
    border: 1px solid white;
}

#copyright {
    text-align: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
    color: white;
    max-height: 30px;
}