body, html {
	width: 100%;
	overflow-x: hidden;
	
}

body {
	font-family: myFont;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: static;
}

#contactUs {
	margin-top: 100px;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 20px;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px #6f4e37;
	border: solid 3px;
	border-image-source: linear-gradient(white, black, white);
	border-image-slice: 0 0.1 10 0.1;
}

#contactUs img {
	max-width: 100%;
}

#info_contact {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	width: 80%;
	height: fit-content;
	margin-right: 10%;
	margin-left: 10%;
	background-image: linear-gradient(white, #EEEDED);
	margin-bottom: 80px;
}

iframe {
	margin: 0 auto;
	flex: 1 100%;
}

#info_contact_left {
	height: 80%;
	align-self: center;
	flex-basis: 20%;
	font-size: 40px;
	color: #6f4e37;
	text-shadow: 1px 1px #6f4e37;
	text-align: center;
}

#info_contact_left span {
	position: relative;
	top: 30%;
}

#info_contact_right {
	height: 80%;
	flex-basis: 60%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bigger {
	font-size: larger;
	text-shadow: 0px 0px black;
}

#map {
	float: none;
	width: 50%;
	margin-top: 30px;
	margin-right: 20px;
	border: 3px double white;
}

#contact_bottom {
	height: 20%;
	align-self: flex-end;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	font-size: 25px;
	text-shadow: 1px 1px #6f4e37;
	border: solid 3px;
	border-image-source: linear-gradient(white, black, white);
	border-image-slice: 1 0.1 0 0.1;
}

a {
	list-style-type: none;
	text-decoration: none;
}

a:link {
	color: black;
}

a:visited {
	color: black;
}

a:hover {
	color: grey;
}
