#mainDiv {
	margin: 0 auto;
	border: solid 4px;
	border-image-source: linear-gradient(white, grey);
	border-image-slice: 1 5 5 1;
	margin-left: 25%;
	width: 70%;
	margin-top: 65px;
	background-color: rgb(238, 237, 237);
}

#main {
	background-color: transparent;
	width: 100%;
	height: auto;
	margin: 0 auto;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
}

#main img {
	width: 100%;
	height: 100%;
	background: url('../img/product.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	flex: 1 50%;
}

#main #main_right {
	flex: 1 50%;
}

#backToTop {
	z-index: 10;
	position: fixed;
	left: 50px;
	opacity: 0;
	transition: all 0.4s linear 0s;
}

#backToTop:hover {
	animation: moveUp 0.4s ease-in 2;
}

@keyframes moveUp {
	from {
		transform: translateY(0px);
	}
	to {
		transform: translateY(-10px);
	}
}

#menuShop {
	position: fixed;
	top: 37px;
	z-index: 2;
	margin: 0 auto;
	width: 20%;
	color: black;
	margin-left: 3px;
}

#menuShop ul {
	display: block;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	list-style-type: none;
	background-color: transparent;
}

#menuShop ul li {
	width: 70%;
	margin-bottom: 0;
}

#menuShop ul li a {
	display: block;
	color: black;
	text-decoration: none;
	border: 1px solid grey;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

#menuShop ul li a:link,
#menuShop ul li a:visited {
	color: black;
}

#menuShop ul li a:hover {
	color: rgb(17, 15, 15);
	animation: menuProduct 0.5s;
	background-color: rgb(238, 237, 237);
}

#menuShop ul li .aMobile:hover {
	animation: menuProductMobile 0.5s;
	background-color: rgb(238, 237, 237);
}

@keyframes menuProduct {
	from {
		background-color: white;
		width: 110%;
	}
	to {
		background-color: rgb(238, 237, 237);
		width: 100%;
	}
}

@keyframes menuProductMobile {
	from {
		transform: scale(1, 1);
		background-color: rgb(172, 172, 172);
	}
	to {
		transform: scale(1, 1.2);
		background-color: grey;
	}
}

#leftBar {
	position: absolute;
	margin: 0 auto;
	margin-left: 2%;
	width: 20%;
	z-index: 3;
}

#rightBar {
	position: absolute;
	margin: 0 auto;
	margin-top: 30px;
	margin-left: 25%;
	width: 75%;
	border: 4px solid transparent;
}

#logo {
	position: sticky;
	top: 45%;
	left: 60%;
	margin: 0 auto;
	opacity: 1;
	z-index: 2;
	width: 64px;
	height: 64px;
	animation: rotateLoading 500ms linear infinite;
}

@keyframes rotateLoading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#offer {
	position: sticky;
	top: 193px;
	width: 90%;
	height: 200px;
	border: solid 3px;
	background-size: cover;
	border-image-source: linear-gradient(white, grey);
	border-image-slice: 1 5 5 1;
}

#dailyOffer {
	margin: 0 auto;
	text-align: center;
}

.hideShow {
	transform: rotate(-90deg);
	float: right;
	text-align: center;
	padding-right: 5px !important;
	margin-bottom: 1px !important;
}

#hideOffer,
#hideFilter {
	position: absolute;
	right: 10px;
	bottom: 10px;
	display: none;
	background-color: transparent;
}

#applyFilter {
	position: absolute;
	left: 10px;
	bottom: 10px;
	background-color: transparent;
}

#filter {
	position: sticky;
	top: 405px;
	height: 200px;
	width: 90%;
	border: solid 3px;
	border-image-source: linear-gradient(white, grey);
	border-image-slice: 1 5 5 1;
	opacity: 0;
	transition: all 0.4s ease-in-out 0s;
}

#filter div {
	margin-top: 5px;
	margin-bottom: 5px;
	height: fit-content;
}

#filter div span {
	margin-left: 10px;
	vertical-align: bottom;
}

#filter label input {
	text-align: left;
}

.filter:before {
	content: "";
	display: inline-block;
	width: 24px;
	height: 24px;
}

#vegetarian:before {
	background: url("../img/food/vegetarian.png");
	background-size: cover;
}

#vegetarian:checked:before {
	background: url("../img/food/vegetarian2.png");
	background-size: cover;
}

#veganCheck:before {
	background: url("../img/food/vegan.png");
	background-size: cover;
}

#veganCheck:checked:before {
	background: url("../img/food/vegan2.png");
	background-size: cover;
}

#glutenCheck:before {
	background: url("../img/food/gluten.png");
	background-size: cover;
}

#glutenCheck:checked:before {
	background: url("../img/food/gluten2.png");
	background-size: cover;
}

#dairyCheck:before {
	background: url("../img/food/dairy.png");
	background-size: cover;
}

#dairyCheck:checked:before {
	background: url("../img/food/dairy2.png");
	background-size: cover;
}

.menu {
	border: solid 2px;
	background-image: linear-gradient(white, #EEEDED);
	border-image-source: linear-gradient(white, grey);
	border-image-slice: 1 5 5 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	align-content: stretch;
	margin-bottom: 30px;
	text-align: center;
}

.menu_Drink div {
	flex: 1 50%;
}

.menu_Food .spot {
	flex: 1 100%;
}

.menu_Food #price {
	flex: 1 100%;
}

.menu_food div {
	flex: 1 0 0px;
	overflow: hidden;
}

#menu_Sandwich {
	margin-bottom: 100px;
}
