body{
    overflow-x: hidden;
}

#logo{
    position: fixed;
    top: 30%;
    left: 45%;
    opacity: 1;
    z-index: 2;
    width: 128px;
    height: 128px;
    -webkit-animation-name: rotateLoading;
            animation-name: rotateLoading;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
            animation-play-state: running;
    -webkit-animation-duration: 700ms;
            animation-duration: 700ms;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}
@-webkit-keyframes rotateLoading{
    from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}
@keyframes rotateLoading{
    from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

#main{              /*first picture*/
    position: relative;
    font-family: myFont;
    text-shadow: 2px 2px 8px whitesmoke;
    margin: 0 auto;
    margin-top: 30px;
    width: 97%;
    height: 363px;
    background: url("../img/coffeehouse.jpg");
    -webkit-box-shadow:  1px 1px 20px black inset;
            box-shadow:  1px 1px 20px black inset;
    text-align: center !important;  
    margin-bottom: 20px; 
    color:white;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
#main, #main_2{
    opacity: 0.1;
}

#main p{
    position: absolute;
    display: block;
    bottom: 25px;
    left: 0;
    right: 0;
    font-size: 20px;
}
#main p:first-child{
    font-size: 50px;
}
.shops{
    position: static;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
    border: solid 4px;
    border-image-source: linear-gradient(white,grey);
    border-image-slice: 1 5 5 1;
    color:black ;
    margin-bottom: 20px;
    background-image: -webkit-gradient(linear,left top, left bottom,from(white),to(#EEEDED));
    background-image: linear-gradient(white,#EEEDED);
    text-align: center;
}
#five{
    margin-bottom: 150px;
}

.info{
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    
    -webkit-box-align: stretch;
    
        -ms-flex-align: stretch;
    
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 10px;
}
#info_4{
    margin-bottom: 100px;
}

.shopName{
    position: static;
    height:120px;
    width: inherit;
    margin-bottom: 5px;
    text-align: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.locationName{
    position: absolute;
    text-align: center;
    font-size: 4vh;
    margin-bottom: 0;
    padding-top: 10px;
    width: inherit;
    color: #6f4e37;
    text-shadow: #6f4e37 1px 1px;
}
.locationDistance{
    position: absolute;
    text-align: center;
    left:35%;
    width: 30%;
}
.shopName img[id^="moreInfoImageButton_"]{
    position: absolute;
    float: left;
    margin-top: 25px;
    margin-left: 30%;
    width: 40px;
    height: 40px;
    z-index: 1;
    -webkit-transition: all 0.50s;
    transition: all 0.50s;

}
input[id^="rotate_"]{
    position: absolute;
    -webkit-transform: initial;
            transform: initial;
    float: left;
    z-index: -1;
    margin-top: 25px;
    margin-left: 30%;
    width: 40px;
    height: 40px;
    
}
input[id^="rotate_"]:checked + img[id^="moreInfoImageButton_"]{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);}

.info, .map{
    display: none;
}
.infoExtra2 table{
    display: inline;
    table-layout:fixed;  
    text-align: center;
}
.infoExtra2 table td{
    width: 25%;
}
th{
    font-size: large;
    color: #6f4e37;
    text-shadow: #6f4e37 0.5px 0.5px;
}
.map{
    position: static;
    width: 100%;
}
.infoExtra1{
    text-align: center;
    font-size: 20px;
    height: 100%;
    margin: 0 auto;
}

.infoExtra1 p{
    margin-top: 2px;
    margin-bottom: 2px;
}
.infoExtra2{
    height: 100%;   
    margin: 0 auto;
}
.info{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
}
.info div{
    -webkit-box-flex: 1;
        -ms-flex: 1 100%;
            flex: 1 100%;
}



